* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/*Note: this is not the header TAG but a DIV with class "header" */
.header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display:inline-flex  /*inline-block*/;
    font-size: 48px;
}

.header h1 .seo {
   color: #d9dcd6;
}

.header nav { /*nav tag inside header*/
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav a { /* header nav a*/
    list-style-type: none;
    white-space: nowrap;  /* Added this to make sure link text stays in one line*/
}

/* There is no DIV UL LI  inside DIV with clas header
   Left the code commented out to review  */
/*
.header div ul li {
    display: inline-block;
    margin-left: 25px;
}
*/

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.hero div img{
    max-height: 200px;
}

/* found examples in 
    https://www.w3schools.com/cssref/tryit.asp?filename=trycss3_flex_responsive
*/
.flxwrapper {
    display: flex;
    flex-wrap: wrap;
}

.flxwrapper .content {
     flex: 75% ;
     min-width: 510px;
 }

 .flxwrapper .content  div{
    margin-bottom: 20px;
    padding: 10px; 
    margin-right: 10px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
 }

 .flxwrapper .benefits {
    max-width: 500px;
    flex: 25%;
    flex-direction: column;
    background-color: #2589bd;
}

.flxwrapper .benefits  div{
   text-align: center;
    margin-bottom: 20px; 
    height: 300px;
 }

.flxwrapper img{
    max-height: 200px;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.flex-wrapper{
    display: flex;
    flex-wrap: wrap;
}

.flex-wrapper .content {
    flex: 70% ;
    margin-left: 20px; 
}

.flex-wrapper .benefits {
    flex: 30%;
    margin-right: 10px;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*
benefit-lead, benefit-brand and benefit-cost seem to be the same settings
All these are within a div with calas <benefit>. 
Use a common CSS setting for all benefits-*  using <benefits>
*/
.benefits {
    margin-bottom: 32px;
    color: #ffffff;
}

/*
.benefit-lead h3, .benefit-brand h3 and .benefit-cost h3 are the same
Use a common .benefits h3{} for all these
*/
.benefits h3 {
    margin-bottom: 10px;
    text-align: center;    
}

/*
.benefit-lead img, .benefit-brand img and  .benefit-cost img are the same
use a common .benefits img {}
*/
.benefits img {
    margin: 10px auto;
    max-width: 150px;    
}

/* using single style definition for benefits div*/
.content div {
    margin-bottom: 20px;
    padding: 10px; /* change padding from 50px to 10px*/
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* content img*/
.content img{
    max-height: 200px;
}

/* content h2 */
.content h2 {
    margin-bottom: 20px;
    font-size: 24px; /* changed font size from 36px  to 24px*/
}

/*
this is using div and class footer, 
change to HTML tag "footer" and "footer h2" to abide to HTML standard page structure better
*/
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}